[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4"
django-shortcuts = "*"
gunicorn = "*"
pillow = "*"
djangorestframework = "*"
dj-database-url = "==0.5.0"
psycopg2-binary = "*"
dj3-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.10"
